@import '../../sass/utils/mixin'; 

.contacts__container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;

    @include mq(tab) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.contacts__btn {
    font-family: CormorantUnicase Bold;
    font-size: 16px;
    line-height: 1.5;
    padding: 9px 18px 9px 18px;
    color: var(--backgroundColor);
    background-color: var(--hoverColor);
    border: none;
    text-shadow: var(--primaryTextShadowColor);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.contacts__call {
    font-family: CormorantUnicase SemiBold;
    font-size: 18px;
    line-height: 1;
    color: var(--hoverColor);
    margin-bottom: 20px;
}

.contacts__title {
    font-family: CormorantUnicase Bold;
    font-size: 22px;
    line-height: 1.2;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 5px;
}

.contacts__item {
    font-family: CormorantUnicase Regular;
    font-size: 15px;
    line-height: 1.2;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin: 0px;

    @include mq(tab) {
        font-size: 18px;
    }
}

.contacts__border {
    border-bottom: 1px solid #ccc;
    width: 290px;
    background: #f7f7f7;

    @include mq(tab) {
        width: 1200px;
    }
}

.contacts__list {
    padding-bottom: 20px;
}

.modal {
    width: 90%;
    height: 170px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: var(--backgroundColor);
    border: 1px solid var(--hoverColor);
    transform: translate(-50%, -50%);
    box-shadow: var(--primaryTextShadowColor);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__list {
    display: flex;
    justify-content: space-evenly;
}

.contact__links {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contact__icons {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.btn__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.icon__telegram {
    fill: #3498db;
}

.icon__viber {
    fill: #8a3ab9;
}

.icon__whatsApp {
    fill: #25d366;
}

.contacts__btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tab) {
        width: 300px;
    }
}

.address__container {
    display: none;

    @include mq(tab) {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.phone__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tab) {
    width: 300px;
    }
}
