@import '../../sass/utils/mixin';

.sectionRitualGoodsList {
    padding-bottom: 35px;
}

.ritualGoodsList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    @include mq(tab) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.ritualGoodsList__item {
    margin-bottom: 20px;

    @include mq(tab) {
        width: 210px;
    }
}

.ritualGoodsList__img {
    width: 250px;
    height: 250px;
    margin-bottom: 15px;

    @include mq(tab) {
        width: 210px;
        height: 210px;
    }
}

.ritualGoodsList__title {
    font-family: CormorantUnicase Bold;
    font-size: 20px;
    line-height: 1.1;
    color: var(--secondaryTextcolor);
    text-shadow: var(--primaryTextShadowColor);

    @include mq(tab) {
        font-size: 22px;
        margin-bottom: 12px;
    }
}

.ritualGoodsList__description {
    display: none;

    @include mq(tab) {
        display: contents;
        font-family: CormorantUnicase Regular;
        font-size: 16px;
        line-height: 1.2;
        color: var(--secondaryTextcolor);
        text-shadow: var(--primaryTextShadowColor);
    }
}