@import '../../sass/utils/mixin';

.abooutRemovalBody__container {
    padding-bottom: 20px;
    
        @include mq(tab) {
            padding-bottom: 35px;
        }
}

.abooutRemovalBody__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;
    
        @include mq(tab) {
            width: 1200px;
            height: 380px;
        }
}

.funeralTeam__photoList {

    @include mq(tab) {
        display: flex;
        justify-content: space-between;
    }
}

.funeralTeam__photo {
    width: 290px;
    height: 220px;

    @include mq(tab) {
        width: 380px;
        height: 252px;
    }
}