@import '../../sass/utils/mixin';

.sectionStoneOfMemory {
    padding-bottom: 20px;

    @include mq(tab) {
        padding-bottom: 35px;
    }
}

.stoneOfMemory__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;

    @include mq(tab) {
        width: 1200px;
        height: 580px;
    }
}