@import '../../sass/utils/mixin';

.sectionHero {
  padding-top: 80px;
  padding-bottom: 40px;
}

.hero__container {
  height: 393px;
  background-image: url('../../watermarked/Hero/herotest.png');
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(tab) {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1160px;
    height: 510px;
  }
}

.hero__title {
  font-family: CormorantUnicase SemiBold;
  font-size: 35px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--primaryTextColor);
  text-align: center;
  margin-bottom: 25px;
}

.hero__decoration {
  margin: 0 auto;
  width: 220px;
  margin-bottom: 25px;

  @include mq(tab) {
    display: none;
  }
}

.hero_description {
  font-family: CormorantUnicase SemiBold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--primaryTextColor);
  margin-bottom: 25px;

  @include mq(tab) {
    font-size: 32px;
    margin: 0 auto;
    width: 850px;
    margin-bottom: 90px;
  }
}

.hero__call {
  font-family: CormorantUnicase Regular;
  font-size: 35px;
  line-height: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: var(--primaryTextColor);
}
