@import '../../sass/utils/mixin';

.aboutRitualWreath__list {
    margin-bottom: 20px;
}

.aboutRitualWreath__item {
    margin-bottom: 10px;
}

.ekibansForTheCoffin__img {
    width: 290px;
    height: 430px;
    margin-bottom: 10px;
}