@import '../../sass/utils/mixin';

.funeralServices__container {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f7f7f7;
    @include mq(tab) {
        display: flex;
        justify-content: space-between;
    }
}

.funeralServices__decoration {
    width: 290px;
    height: 100px;
    background-image: url(../../images/OrganizationFuneralServices/OrganizationFuneralServicesMobile.jpg);
    margin-bottom: 15px;

    @include mq(tab) {
        width: 570px;
        height: 380px;
        background-image: url(../../images/OrganizationFuneralServices/OrganizationFuneralServicesDesktop.jpg);
        margin-bottom: 0px;
    }
}

.organizationFuneralServicesInfoContainer {
    @include mq(tab) {
        width: 570px;
        height: 380px;
    }
}

.funeralServices__title {
    font-family: CormorantUnicase Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 15px;

    @include mq(tab) {
        font-size: 36px;
        line-height: 1.2;
    }
}

.funeralServices__description {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondaryTextcolor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 15px;
    @include mq(tab) {
        line-height: 1.63;
        margin-bottom: 20px;
    }
}