@import '../../sass/utils/mixin';

.aboutCoffins__list {
    margin-bottom: 20px;

    @include mq(tab) {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        justify-items: center;
    }
}

.aboutCoffins__item {
    margin-bottom: 10px;

    @include mq(tab) {
        margin-bottom: 0px;
    }
}

.standardCoffins__img {
    width: 290px;
    height: 192px;
}