@import '../../sass/utils/mixin';

.sectionAboutCoffins {
    margin-bottom: 20px;
}

.aboutCoffins__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;
}

.aboutCoffins__description {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.3;
    color: var(--secondaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 10px;
}

.aboutCoffins__title {
    font-family: CormorantUnicase Bold;
    font-size: 23px;
    line-height: 1.2;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 10px;
}

.standardCoffins__img {
    width: 290px;
    height: 192px;
}

.eliteCoffins__img {
    width: 290px;
    max-height: 192px;
}

.economCoffins__img {
    width: 290px;
    max-height: 436px;
}

.aboutCoffins__list {
    margin-bottom: 20px;
}

.aboutCoffins__item {
    margin-bottom: 10px;
}

.aboutCoffins__span {
   color: #00a046;
}

.aboutCoffins__blockquote {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.3;
    color: var(--secondaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    width: 263px;
    padding: 10px 25px;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--hoverColor);
    background-color: rgba(181, 155, 77, 0.05);
    text-shadow: 0px 0px 1px var(--hoverColor);
    border-left: 3px solid var(--hoverColor);
}