@font-face {
  font-family: 'CormorantUnicase Regular';
  src: url('../../fonts/CormorantUnicase-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CormorantUnicase Medium';
  src: url('../../fonts/CormorantUnicase-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'CormorantUnicase SemiBold';
  src: url('../../fonts/CormorantUnicase-SemiBold.ttf');
  font-weight: 600;
}