:root {
  --primaryTextColor: #000000;
  --backgroundColor: #FFFFFF;
  --hoverColor: #b59b4d;
  --secondaryTextcolor: #2b2b2a;
  --primaryTextShadowColor: 0px 0px 1px rgba(0, 0, 0, .5);
  --secondaryBackgroundColor: #f7f7f7;
}
