@import '../../sass/utils/mixin';

.sectionAboutCompany {
    margin-top: 25px;
}

.aboutCompany__container {
    padding-top: 32px;
    padding-bottom: 20px;
    height: 540px;
    background-image: url('../../images/About/BgAbout.jpg');
    @include mq(tab) {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        background-image: url('../../images/About/SectionAboutCompanyBgDesk.jpg');
        height: 420px;
    }
}

.aboutCompany__title {
    font-family: CormorantUnicase Bold;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: var(--backgroundColor);
    text-shadow: var(--primaryTextShadowColor);
    @include mq(tab) {
        font-size: 36px;
    }
}

.aboutCompany_description {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.3;
    color: var(--backgroundColor);
    text-shadow: var(--primaryTextShadowColor);
}

.aboutCompany__descriptionContainer {
    display: none;

    @include mq(tab) {
        display: block;
        margin-top: 260px;
        transform: rotate(270deg);
        transform-origin: top left;
    }
}

.aboutCompany__descriptionTitle {
    @include mq(tab) {
        font-family: CormorantUnicase Bold;
        font-size: 43px;
        line-height: 1.63;
        color: var(--hoverColor);
        text-shadow: var(--primaryTextShadowColor);
    }
}

.aboutCompany__descriptionTitleDesc {
    @include mq(tab) {
        font-family: CormorantUnicase Regular;
        font-size: 26px;
        line-height: 1.63;
        color: var(--hoverColor);
        text-shadow: var(--primaryTextShadowColor);
    }
}

.aboutCompany__storyContainer {
    @include mq(tab) {
        width: 700px;
    }
}