@import '../../sass/utils/mixin';

.SectionRitualServices {
    padding-bottom: 25px;
}

.ritualServicesList__img {
    margin-bottom: 15px;
}

.ritualServicesList__title {
    font-family: CormorantUnicase Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #2b2b2a;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ritualServicesList__item {
    padding-bottom: 25px;
}
