@import '../../sass/utils/mixin';

.sectionAboutRitualAgent {
    padding-bottom: 20px;

    @include mq(tab) {
        padding-bottom: 35px;
    }
}

.aboutRitualAgent__decoration {
    width: 290px;
    height: 100px;
    margin-bottom: 25px;

    @include mq(tab) {
        width: 1200px;
        height: 380px;
    }
}