@import '../../sass/utils/mixin';

.sectionCurrentPage {
    @include mq(tab) {
        padding-top: 80px;
    }
}


.currentPage__container {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 320px;
    height: 120px;
    background-image: url('../../images/AllImages/Background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    @include mq(tab) {
        width: 1170px;
        height: 140px;
        background-image: url('../../images/currentPage/Slice1.jpg');
        align-items: flex-start;
    }
}

.currentPage__title {
    font-family: CormorantUnicase SemiBold;
    font-size: 24px;
    line-height: 1;
    color: var(--backgroundColor);
    text-shadow: var(--primaryTextShadowColor);
    text-align: start;
}

.currentPage__description {
    font-family: CormorantUnicase Regular;
    font-size: 14px;
    line-height: 1.63;
    color: var(--backgroundColor);
    text-shadow: var(--primaryTextShadowColor);
    padding-bottom: 10px;
    text-align: start;
}