@import '../../sass/utils/mixin';

.ritualGoods__container {
    padding-top: 35px;
    padding-bottom: 35px;

    @include mq(tab) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.ritualGoods__decoration {
    width: 290px;
    height: 100px;
    background-image: url(../../images/RitualGoods/ritualGoodsDecorationMobile.jpg);
    margin-bottom: 20px;

    @include mq(tab) {
        width: 570px;
        height: 380px;
        background-image: url(../../images/RitualGoods/ritualGoodsDecorationDesktop.jpg);
    }
}

.ritualGoods__DescriprionContainer {
    width: 570px;
}

.ritualGoods__title {
    font-family: CormorantUnicase Bold;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);

    @include mq(tab) {
        font-size: 36px;
        line-height: 1.2;
    }
}

.ritualGoods__description {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondaryTextcolor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 15px;

    @include mq(tab) {
        line-height: 1.63;
        margin-bottom: 20px;
    }
}
