@import '../../sass/utils/mixin';

.sectionFuneralOrganization {
  padding-bottom: 20px;

  @include mq(tab) {
    padding-bottom: 35px;
  }
}

.funeralOrganization__decoration {
  width: 290px;
  height: 168px;
  margin-bottom: 25px;

  @include mq(tab) {
    width: 1200px;
    height: 380px;
  }
}

.funeralOrganization__pictureList {
  @include mq(desk) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.funeralOrganization__pictureListItemImg {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  @include mq(desk) {
    width: 585px;
    margin-bottom: 0px;
  }
}
