@import '../../sass/utils/mixin';

.sectionAboutCremation {
    padding-bottom: 20px;
    
    @include mq(tab) {
        padding-bottom: 35px;
    }
}

.aboutCremation__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;

    @include mq(tab) {
        width: 1200px;
        height: 380px;
    }
}

.aboutCremation__list {
    list-style: disc;
    padding-left: 15px;
}

.aboutCremation__itemPictures {
    margin-bottom: 10px;

    @include mq(tab) {
        margin-bottom: 0px;
    }
}

.aboutCremation__img {
    width: 290px;
    height: 218px;
}

.aboutCremation__listPictures {
    @include mq(tab) {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        justify-items: center;
    }
}

