@import '../../sass/utils/mixin';

.sectionAboutRequiemServiceByPriest {
    padding-bottom: 20px;
    
        @include mq(tab) {
            padding-bottom: 35px;
        }
}

.aboutRequiemServiceByPriest__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;
    
        @include mq(tab) {
            width: 1200px;
            height: 380px;
        }
}