@import '../../sass/utils/mixin';

.memorialDinners__container {
    padding-bottom: 20px;
    
        @include mq(tab) {
            padding-bottom: 35px;
        }
}

.memorialDinners__decoration {
    width: 290px;
    height: 94px;
    margin-bottom: 25px;
    
        @include mq(tab) {
            width: 1200px;
            height: 380px;
        }
}

.aboutMemorialDinners__decoration {
    width: 290px;
    height: 218px;
    margin-bottom: 10px;

    @include mq(tab) {
        width: 1200px;
        height: 880px;
    }
}

.MemorialDinnersHallImgFirst {
    margin-bottom: 10px;
    @include mq(tab) {
        width: 100%;
        margin-bottom: 30px;
    }
}

.MemorialDinnersHallImg {
    margin-bottom: 10px;
    @include mq(tab) {
        width: 370px;
        height: 490px;
    }
}

.MemorialDinnersHallImgList {
    @include mq(tab) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}