@import '../../sass/utils/mixin';

.aboutRitualWreath__list {
    margin-bottom: 20px;
}

.aboutRitualWreath__item {
    margin-bottom: 10px;
}

.ritualWreathList__img {
    width: 290px;
    height: 385px;
}