@import '../../sass/utils/mixin';

.aboutAboutRitual__list {
    margin-bottom: 20px;
}

.aboutAboutRitual__item {
    margin-bottom: 10px;
}

.tulleCovering__img {
    width: 290px;
    max-height: 436px;
}