@import '../../sass/utils/mixin';

.needHelp__container {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 320px;
    height: 210px;
    background-image: url('../../images/NeedHelp/BgForNeedHelp.jpg');

    @include mq(tab) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 1170px;
        height: 114px;
        background-image: url('../../images/NeedHelp/BgForNeedHelpDesk.jpg');
    }
}

.needHelp__title {
    font-family: CormorantUnicase Bold;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    color: #f4dfb3;
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 10px;
}

.needHelp__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.needHelp__description {
    font-family: CormorantUnicase SemiBold;
    font-size: 26px;
    line-height: 26px;
    width: 215px;
    color: var(--backgroundColor);
    text-shadow: var(--primaryTextShadowColor);
    border-bottom: 2px solid var(--backgroundColor);
}

