@import '../../sass/utils/mixin';

.menu__list {
    @include mq(mob-only) {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
      width: 280px;
      border-top: 1px solid var(--primaryTextColor);
      padding-top: 20px;
    }

    @include mq(tab) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1010px;
    }
}

.menu__list_link {
  padding: 10px;
  font-family: CormorantUnicase Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 24.375px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);

  @include mq(desk) {
  }
}

.menu__list_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  @include mq(mob-only) {
      padding: 5px;
    }
  
}

.menu__list_item:not(:last-child) {
  @include mq(tab) {
      margin-right: 10px;
    }
 
}

.menu__list_item a:hover,
.menu__list_item a:focus {
    border-bottom: 5px solid var(--primaryTextColor);
    margin-bottom: -5px;
}

.menu__list_itemIcon {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.menu__list_itemSubMenu {
  width: 290px;
  font-family: CormorantUnicase Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: start;
  padding: 8px 30px 8px 30px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);

  @include mq(tab) {
    width: 200px;
    text-align: center;
  }
}


.navBar {
    align-items: center;
    display: flex;
    justify-content: center;

    @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navBar .navigation {
      display: none;
    }
  
    .navBar .mobileNavigation {
      display: flex;
    }
  }
  
  @media (min-width: 769px) {
    .navBar .navigation {
      display: flex;
    }
  
    .navBar .mobileNavigation {
      display: none;
    }
  }

.navBar .mobileNavigation .hamburgerMenu {
  color: #000;
  position: fixed;
  top: 2px;
  cursor: pointer;
}

.hamburgerMenu {
  position: absolute;
  top: 20px;
  left: 78%;
  width: 55px;
  height: 55px;
  padding: 10px;
  color: var(--primaryTextColor);
  cursor: pointer;
}

.navContainer {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 220px;
  }
}

.navContainerPhone {
  display: none;

  @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 220px;
    padding: 15px;
    background-color: #f3f3f5;
  }
}

.phoneNumberDescription {
  font-family: CormorantUnicase SemiBold;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 600;
  color: var(--secondaryTextcolor);
}

.phoneNumberNavBar {
  font-family: CormorantUnicase SemiBold;
  font-size: 14px;
  line-height: 1.63;
  font-weight: 600;
  color: var(--primaryTextColor);
  text-shadow: var(--primaryTextShadowColor);
}

.phoneNumbersList,
.ritualGoodsSubMenu,
.ritualServicesSubMenu {
  position: absolute;
  background-color: var(--backgroundColor);
  border-top: 2px solid var(--hoverColor);
}

.ritualGoodsSubMenu {
  top: 78px;
  right: 503px;
}

.ritualServicesSubMenu {
  top: 78px;
  right: 724px;
}

.phoneNumbersList {
  top: 78px;
  right: 18px;
}

.menu__list_itemSubMenuPhones {
  @include mq(tab) {
    font-family: CormorantUnicase Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: start;
    width: 198px;
    padding: 15px;
    text-shadow: 0px 0px 1px black;
  }
}
