@import '../../sass/utils/mixin';

.menu__list {
    @include mq(mob-only) {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
      width: 280px;
      border-top: 1px solid var(--primaryTextColor);
      padding-top: 20px;
    }

    @include mq(tab) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    }
}

.menu__list_link {
  font-family: CormorantUnicase Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 24.375px;

  @include mq(desk) {
    font-size: 1.5rem;
  }
}

.menu__list_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(mob-only) {
      padding: 12px;
    }
  
}

.menu__list_item:not(:last-child) {
  @include mq(tab) {
      margin-right: 10px;
    }
 
}

.menu__list_item a:hover,
.menu__list_item a:focus {
    border-bottom: 5px solid var(--primaryTextColor);
    margin-bottom: -5px;
}

.navBar {
    align-items: center;
    display: flex;
    justify-content: center;

    @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navBar .navigation {
      display: none;
    }
  
    .navBar .mobileNavigation {
      display: flex;
    }
  }
  
  @media (min-width: 769px) {
    .navBar .navigation {
      display: flex;
    }
  
    .navBar .mobileNavigation {
      display: none;
    }
  }

.navBar .mobileNavigation .hamburgerMenu {
  color: #000;
  position: fixed;
  top: 2px;
  cursor: pointer;
}

.hamburgerMenu {
  position: absolute;
  top: 20px;
  left: 78%;
  width: 55px;
  height: 55px;
  padding: 10px;
  color: var(--primaryTextColor);
  cursor: pointer;
}