@import '../../sass/utils/mixin';

.funeralBureauProfitual__container {
    margin-bottom: 35px;
}

.funeralBureauProfitual__title {
    font-family: CormorantUnicase Bold;
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
}

.funeralBureauProfitual__decoration {
    width: 290px;
    margin-bottom: 40px;
}

.funeralBureauProfitual__description {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.63;
    color: var(--secondaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 20px;
}

.advantagesServicesList__img {
    width: 290px;
    height: 196px;
    margin-bottom: 15px;
}