@import '../../sass/utils/mixin';

.sectionAboutRentRitualHall {
    padding-bottom: 20px;
    
        @include mq(tab) {
            padding-bottom: 35px;
        }
}

.rentRitualHall__decoration {
    width: 290px;
        height: 94px;
        margin-bottom: 25px;
    
        @include mq(tab) {
            width: 1200px;
            height: 380px;
        }
}

.aboutRentRitualHall__span {
    font-family: CormorantUnicase Bold;
    font-size: 16px;
    line-height: 1.63;
    color: var(--hoverColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 10px;
}


.rentRitualHall__photo {
    width: 290px;
    height: 186px;

    @include mq(tab) {
        width: 380px;
        height: 245px;
    }
}


.aboutRentRitualHall__titleSmall {
    font-family: CormorantUnicase Regular;
    font-size: 16px;
    line-height: 1.3;
    color: var(--primaryTextColor);
    text-shadow: var(--primaryTextShadowColor);
    margin-bottom: 20px;
}

.ritualHallPhotoList {

    @include mq(tab) {
        display: flex;
        justify-content: space-between;
    }
}

.ritualHallPhotoList__item:not(:last-child) {
    margin-bottom: 10px;

    @include mq(tab) {
        margin-bottom: 0px;
    }
}