@import '../../sass/utils/mixin';

.sectionPetsCremation {
  padding-bottom: 20px;

  @include mq(tab) {
    padding-bottom: 35px;
  }
}

.petsCremation__decoration {
  width: 290px;
  height: 188px;
  margin-bottom: 25px;

  @include mq(tab) {
    width: 1200px;
    height: 580px;
  }
}
